/* Reset Start */
/* Sizing reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Rem reset */
html{
	font-size: 16px;
}

/* Font reset */
body{
	font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    font-size: .7rem;
}
/* Reset End */

.app-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

button{
    background-color: #4a4a4a;
    border: none;
    padding: .3rem;
    margin: .1rem;
    border-radius: 5px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

header{
    padding: .2rem;
    text-align: right;
    flex-shrink: 0;
}

main{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

footer{
    flex-shrink: 0;
    height: 5rem;
}

section{
    padding: 0 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: .5rem;
}

img{
    display: block;
    width: 100%;
}

.card{
    width: 100%;
    flex-shrink: 0;
    flex-basis: 13%;
    position: relative;
}

.id-container{
    padding: .2rem;
    background-color: rgba(0,0, 0, .5);
    position: absolute;
    left: 0;
    bottom: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    text-align: center;
    height: 100%;
}

ul{
    flex-shrink: 0;
    list-style: none;
    height: 100%;
    padding: 0 1rem;
}

.left-bar{
    text-align: left;
}


.right-bar{
    text-align: end;
    background-color: #4a4a4a;
}

.right-bar button{
    color: red;
}

li{
    display: inline-block;
    height: 100%;
    line-height: 5rem;
    padding: 0 .5rem;
}

li button{
    background-color: transparent;
    border-radius: 0;

}

button.icon>div:first-child{
    font-size: 1.5rem;
}

/* hover fx */
header button:hover{
    background-color: #222222;
}

li:hover:not(.right-bar *){
    background-color: hsla(0, 0%, 50%, 0.2);
    border-radius: 5px;
}

.select:hover{
    background-color: hsla(0, 0%, 50%, 0.5);
    border-radius: 5px;
}

.right-bar:hover{
    background-color: transparent;
}

.right-bar:hover button{
    color: black;
    background-color: red;
    border-radius: 5px;
}

.right-bar button:hover{
    color: white;
    transform: scale(1.2);
}